body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.site-layout-content {
  min-height: 280px;
  margin-top: 10px;
  height: 100vh;
  padding: 24px;
  background: #fff;
}
#components-layout-demo-top .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}
.ant-row-rtl #components-layout-demo-top .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

div.icons-list {
  text-align: center;
  font-size: 40px;
}

Button.form-button {
  background-color: #55c596;
  border-color: #55c596;
  width: 300px;
}

div Button.modal-button-edit {
  background-color: #0275d8;
  border-color: #0275d8;
}

div Button.modal-button-upload {
  background-color: #5bc0de;
}

Button.form-button {
  background-color: #55c596;
  border-color: #55c596;
  width: 300px;
}

div Button.modal-button-view {
  background-color: #1b2aff;
  border-color: #fdfdfd;
}

/* div Button.modal-button-add {
  border-radius: 20px;
  background-color: #55c596;
  border-color: #55c596;
} */

Button span.mobile-view {
  display: none;
}

@media screen and (max-width: 768px) {
  Button span.desktop-view {
    display: none;
  }
  Button span.mobile-view {
    display: inline-block;
  }
  span.desktop-view {
    display: none;
  }
  span.mobile-view {
    display: inline-block;
  }
}
